[global]

## Browsing/Identification ###

# Change this to the workgroup/NT-domain name your Samba server will part of
   workgroup = {{ samba_settings.samba_workgroup | default('default') }}

#...

{% if dfs_root_server is defined %}
  host msdfs = yes
{% endif %}

# Default share settings

{% if samba_settings.directory_mask is defined %}
  directory mask = {{ samba_settings.directory_mask }}
{% endif %}
{% if samba_settings.create_mask is defined %}
  create mask = {{ samba_settings.create_mask }}
{% endif %}
{% if samba_settings.browseable is defined %}
  browseable = {{ samba_settings.browseable }}
{% endif %}
{% if samba_settings.read_only is defined %}
  read only = {{ samba_settings.read_only }}
{% endif %}
{% if samba_settings.valid_users is defined %}
  valid users = {{ samba_settings.valid_users }}
{% endif %}
{% if samba_settings.force_user is defined %}
  force user = user
{% endif %}
{% if samba_settings.force_group is defined %}
  force group = group
{% endif %}



{% if samba_shares|length > 0 %}

#======================= Share Definitions =======================

{% for share in samba_shares %}
[{{ share.name }}]
{% if share.dfs_root_folder is defined %}
  msdfsroot = yes
{% endif %}
{% if share.path is defined %}
  path = {{ share.path }}
{% endif %}
{% if share.comment is defined %}
  comment = {{ share.comment }}
{% endif %}
{% if share.directory_mask is defined %}
  directory mask = {{ share.directory_mask }}
{% endif %}
{% if share.create_mask is defined %}
  create mask = {{ share.create_mask }}
{% endif %}
{% if share.browseable is defined %}
  browseable = {{ share.browseable }}
{% endif %}
{% if share.valid_users is defined %}
  valid users = {{ share.valid_users }}
{% endif %}
{% if share.force_user is defined %}
  force user = {{ share.force_user }}
{% endif %}
{% if share.force_group is defined %}
  force group = {{ share.force_group }}
{% endif %}
{% if share.read_only is defined %}
  read only = {{ share.read_only }}
{% endif %}

{% endfor %}
{% endif %}
